click==3.3
Jinja2==2.7.1
livereload==2.5.1
Markdown==2.6.11
mdx_gh_links>=0.2
mkdocs-material==3.0.3
mkdocs==1.0.1
Pygments==2.2.0
pymdown-extensions==4.12
PyYAML==3.13
setuptools==40.2.0
tornado==4.1
